@keyframes hrSlideInLeft {
  0% { transform: translateX(-999px) }
}

@keyframes hrSlideInRight {
  0% { transform: translateX(999px) }
}

@keyframes borderFadeIn {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1 }
}

@keyframes fadeInBounce {
  0% { opacity: 0; transform: translateY(30px) }
  50% { opacity: 0.5; transform: translateY(-5px) }
  100% { opacity: 1; transform: translateY(0) }
}

.hrSlideInLeft {
  animation-name: hrSlideInLeft;
}

.hrSlideInRight {
  animation-name: hrSlideInRight;
}

.fadeInBounce {
  animation-name: fadeInBounce;
}

.borderFadeIn, .pulsate {
  width: 20px;
  height: 20px;
  border: 3px double #89764b;
  transform: rotate(45deg);
  cursor: pointer;
  transition-duration: .2s;

  &:hover {
    transform: rotate(45deg) scale(1.3);
  }

  p {
    color: white;
    transform: rotate(45deg);
    padding: 0 !important;
    margin: 0% auto !important;
    position: absolute;
    left: 7px;
    top: -1px;
  }
}

.borderFadeIn {
  animation-name: borderFadeIn;
}

