@keyframes bankroll {
  50% {
    border-radius: 0;
    transform: rotate(180deg);
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition-duration: 0.6s;
  color: #a1916f;

  .spin-loader {
    width: 70px;
    height: 70px;
    border: 15px solid #fff;
    border-radius: 50%;
    margin-bottom: 25px;
    transition-duration: 0.6s;
    animation-name: bankroll;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
  }

  .bar {
	height:10px;
	width:200px;
	padding:15px;
	background-color:rgba(0,0,0,.1);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
}

/*
This is the actual bar with stripes
*/
.bar span {
	display:inline-block;
	height:100%;
	width:100%;
	background-color:#000;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-image:
		-webkit-linear-gradient(
		-45deg,
		rgba(137, 118, 75, 1) 25%,
		transparent 25%,
		transparent 50%,
  	rgba(137, 118, 75, 1) 50%,
		rgba(137, 118, 75, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-moz-linear-gradient(
		-45deg,
		rgba(137, 118, 75, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(137, 118, 75, 1)50%,
		rgba(137, 118, 75, 1)75%,
		transparent 75%,
		transparent
	);
	background-image:
		-ms-linear-gradient(
		-45deg,
		rgba(137, 118, 75, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(137, 118, 75, 1) 50%,
		rgba(137, 118, 75, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		linear-gradient(
		-45deg,
		rgba(137, 118, 75, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(137, 118, 75, 1) 50%,
		rrgba(137, 118, 75, 1) 75%,
		transparent 75%,
		transparent
	);
	-webkit-background-size:50px 50px;
	-moz-background-size:50px 50px;
	-ms-background-size:50px 50px;
	background-size:50px 50px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;
	overflow: hidden;
	-webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}

/*
Animate the stripes
*/
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}

}
